.btn{
    &--red{
        background-color: $red;
        border-radius: 0;
        color: #fff;
        font-weight: 600;
        padding: 10px 20px;
        &:hover, &:focus{
            background-color: $blue-hover;
            color: #fff;
            transition: background-color ease-in 200ms;
        }
        &:active{
            background-color: $blue;
        }
        &--outlined{
            background-color: transparent;
            border-radius: 0;
            color: $red;
            border: 1px solid $red;
            font-weight: 600;
            padding: 10px 20px;
            &:hover, &:focus{
                background-color: $red-hover;
                border: 1px solid $red-hover;
                color: #fff;
                transition: all ease-in 200ms;
            }
            &:active{
                background-color: $blue-hover;
            }
        }
    }

    &--blue{
        background-color: $blue;
        border-radius: 0;
        color: #fff;
        font-weight: 600;
        padding: 10px 20px;
        &:hover, &:focus{
            background-color: $red-hover;
            color: #fff;
            transition: background-color ease-in 200ms;
        }
        &:active{
            background-color: $red;
        }
        &--outlined{
            background-color: transparent;
            border-radius: 0;
            color: $blue;
            border: 1px solid $blue;
            font-weight: 600;
            padding: 10px 20px;
            &:hover, &:focus{
                background-color: $blue-hover;
                border: 1px solid $blue-hover;
                color: #fff;
                transition: all ease-in 200ms;
            }
            &:active{
                background-color: $blue;
            }
        }
    }

    
}