input, textarea, select{
    border: 1px solid lighten($blue, 30) !important;
    border-radius: 0 !important;
    background: #eee !important;
}
input, select, input:not(type=checkbox){
    height: 45px !important;
}