.header-title{
    font-size: 3.5em;
    color: $title;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}
.header-subtitle{
    font-size: 1.225em;
    color: $text;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}
p{
    font-size: 1.125em;
    color: $text;
}